.contact-form {
  margin-bottom: 2em;
  .container {
    h1 {
      margin-bottom: 1.3em;
    }
    .form-main {
      display: grid;
      grid-template: repeat(1, 1fr) / repeat(3, 1fr);
      .info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background-color: $sec-bgc;
        padding: 4.5em 2em 2em 5em;
        h2 {
          font-size: 2rem;
          font-weight: 500;
          margin-bottom: 0.7em;
        }
        h3 {
          padding: 0.3em;
          font-weight: 400;
        }
        i {
          margin-right: 0.5em;
        }
      }
      .contact {
        grid-column: 2/-1;
        form {
          padding: 4em;
          display: grid;
          grid-gap: 1em;
          grid-template-columns: repeat(2, 1fr);
          input,
          label {
            display: block;
          }
          input[type='text'],
          input[type='email'],
          input[type='number'] {
            height: 3em;
            width: 20em;
          }
          input[type='submit'] {
            display: inline-block;
            font-size: 1.3rem;
            margin-top: 1em;
            padding: 0.75em 1.25em;
            border-radius: 1.25em;
            border: 1px solid $pri-clr;
            cursor: pointer;
            margin-right: 0.5em;
            background-color: $sec-bgc;
            color: $pri-clr;
            transition: $transition;
          }
          input[type='submit']:hover {
            background-color: $pri-clr;
            color: $pri-bgc;
          }
          textarea,
          input[type='text'],
          input[type='email'],
          input[type='number'] {
            width: 100%;
            border: 1px solid $grey-clr;
          }
          .full {
            grid-column: 1/3;
          }
        }
      }
    }
  }
}
