header {
  background-color: $sec-bgc;
  padding: 1em 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    flex-basis: 40%;
    flex-shrink: 1;
  }
  nav {
    flex: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: flex;
      font-size: 1.5rem;
    }
    #social-icons {
      gap: 1.5em;
    }
  }
  @include mobile {
    padding: 0.7em 0;
    h1 {
      font-size: 1.25rem;
    }
    nav {
      ul {
        font-size: 1rem;
      }
      #social-icons {
        gap: 1em;
      }
    }
  }
}
