.services {
  margin-bottom: 6em;
  .container {
    .service {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 2em;
      .service-img {
        flex: 1;
        height: 300px;
        width: 100%;
        background-color: #ccc;
      }
      .service-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .service-title {
        padding: 1em;
      }
    }
  }
}
