* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: $pri-clr;
  font-family: $fontStack;
  background-color: $pri-bgc;
}
ul {
  list-style-type: none;
}
a {
  color: $pri-clr;
  text-decoration: none;
  transition: $transition;
}
a:hover {
  color: $sec-clr;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.container-sm {
  width: 70%;
  max-width: 1100px;
  margin: auto;
}
.gen-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2em;
}
