$fontStack: 'Raleway', sans-serif;
$title: 'Source Serif Pro', serif;
$pri-clr: #f6f8fa; //font-clr
$sec-clr: #bebfc1; //font-clr
$pri-bgc: #24292f; //bgc
$sec-bgc: #24292f1f; //bgc
$grey-clr: #ccc;
$green-clr: #2c974b;
$transition: color 0.3s ease-out, background-color 0.3s ease-out;
$border: 1px solid red;
$mobile: 768px;
