$fontStack: 'Raleway', sans-serif;
$title: 'Source Serif Pro', serif;
$pri-clr: #3d405b; //font-clr
$sec-clr: #d62828; //font-clr
$pri-bgc: #faf9f9; //bgc
$sec-bgc: #f5f3f4; //bgc
$transition: color 0.3s ease-out;
$border: 1px solid red;
