@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;500&display=swap');

@import 'variables';
@import 'utilities';
@import 'header';
@import 'intro-section';
@import 'my-work';
@import 'services';
